.App {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 20px;
}

form {
  display: inline-block;
  text-align: left;
  margin-top: 20px;
}

label {
  display: flex;
  margin-bottom: 10px;
}

select {
  margin-left: 5px;
  flex: 1;
  cursor: pointer;
}

input {
  margin-left: 10px;
  margin-bottom: 20px;
}

.BotonDescargar {
  display: flex;
  justify-content: center;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
